@import "tailwindcss";
@theme {
  --color-primary: #191919;
  --color-secondary: #efeae3;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --color-blue: #0268e3;
}
@layer components {
  .sub-menu {
    @apply absolute top-[6rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white px-4;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}
/* globals.css বা index.css */
.orange-gradient-1 {
  filter: blur(55px);
  background: radial-gradient(50% 50% at 50% 50%, #2d90ef, #0268e3);
}

.orange-gradient-2 {
  filter: blur(55px);
  background: radial-gradient(50% 50% at 50% 50%, #0268e3 #2d90ef);
}
.button-slide {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.button-slide::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(254, 51, 10); /* your red */
  z-index: -1;
  transition: top 0.4s ease-in-out;
}

.button-slide:hover::before {
  top: 0;
}
